<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>buy</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertExcelServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.InsertExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertExcelServlet</servlet-name>
    <url-pattern>/InsertExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeadingOutServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.LeadingOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadingOutServlet</servlet-name>
    <url-pattern>/LeadingOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectDepartmentAllServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectDepartmentAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDepartmentAllServlet</servlet-name>
    <url-pattern>/SelectDepartmentAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectPostsByDePartmentID</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectPostsByDePartmentID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPostsByDePartmentID</servlet-name>
    <url-pattern>/SelectPostsByDePartmentID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectKpiindexByPostID</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectKpiindexByPostID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectKpiindexByPostID</servlet-name>
    <url-pattern>/SelectKpiindexByPostID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectPostsByDepartmentToAddKpiServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectPostsByDepartmentToAddKpiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPostsByDepartmentToAddKpiServlet</servlet-name>
    <url-pattern>/SelectPostsByDepartmentToAddKpiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectDepartmentAllServletToAddKpi</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectDepartmentAllServletToAddKpi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDepartmentAllServletToAddKpi</servlet-name>
    <url-pattern>/SelectDepartmentAllServletToAddKpi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectModuleByPostIDToAddKpiServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectModuleByPostIDToAddKpiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectModuleByPostIDToAddKpiServlet</servlet-name>
    <url-pattern>/SelectModuleByPostIDToAddKpiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddKpiServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.AddKpiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKpiServlet</servlet-name>
    <url-pattern>/AddKpiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectModuleByPostIDToUpdateServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectModuleByPostIDToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectModuleByPostIDToUpdateServlet</servlet-name>
    <url-pattern>/SelectModuleByPostIDToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectPostsByDepartmentIDToUpdateServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectPostsByDepartmentIDToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPostsByDepartmentIDToUpdateServlet</servlet-name>
    <url-pattern>/SelectPostsByDepartmentIDToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectDepartmentAllToUpdateServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.SelectDepartmentAllToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDepartmentAllToUpdateServlet</servlet-name>
    <url-pattern>/SelectDepartmentAllToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateKpiIndexByKpiIDServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.UpdateKpiIndexByKpiIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKpiIndexByKpiIDServlet</servlet-name>
    <url-pattern>/UpdateKpiIndexByKpiIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HideKpiIndexServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.HideKpiIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HideKpiIndexServlet</servlet-name>
    <url-pattern>/HideKpiIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffLeadingOutServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.StaffLeadingOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLeadingOutServlet</servlet-name>
    <url-pattern>/StaffLeadingOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffInsertExcelServlet</servlet-name>
    <servlet-class>cn.com.broad.servlet.StaffInsertExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffInsertExcelServlet</servlet-name>
    <url-pattern>/StaffInsertExcelServlet</url-pattern>
  </servlet-mapping>
</web-app>